{% extends "layout.twig" %}
{% import "macros.twig" as macros %}

{% block content %}
<section id="allProjectsSection">
    <h2>All Projects</h2>
    {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}

    <form id="searchProjectsForm" action="{{ path_for('allProjects') }}" method="get">
        <label for="search">Search Projects:</label>
        <input type="text" id="search" name="search"{% if search %} value="{{ search }}"{% endif %}>

        <div id="searchButtonsDiv">
            <button type="submit">Search</button>
            <button id="clearSearch">Clear</button>
        </div>
    </form>

    {% if not projects %}
        <p>No projects found</p>
    {% else %}
        <div id="projectsList">
            {% if pagination.getNumPages() > 1 %}
            <div id="paginationDiv">
                {% set url = path_for('allProjects') %}
                {% if search %}
                    {% set url = url ~ '?search=' ~ search ~ "&" %}
                {% else %}
                    {% set url = url ~ '?' %}
                {% endif %}

                <form id="pageSelectForm" action="{{ path_for('allProjects') }}" method="get">
                    {% if pagination.hasPrevPage() %}
                        <a href="{{ url ~ "page=" ~ (pagination.currentPage - 1) }}">prev</a>
                    {% endif %}
                    <select id="pageSelect" name="page">
                        {% for page in 1..pagination.getNumPages() %}
                        <option value="{{ page }}"{% if pagination.currentPage == page %} selected{% endif %}>{{ page }} of {{ pagination.getNumPages() }}</option> 
                        {% endfor %}
                    </select>
                    {% if search %}
                    <input type="hidden" name="search" value="{{ search }}">
                    {% endif %}
                    <noscript>
                        <input type="submit" value="Go">
                    </noscript>
                    {% if pagination.hasNextPage() %}
                        <a href="{{ url ~ "page=" ~ (pagination.currentPage + 1) }}">next</a> 
                    {% endif %}
                </form>
            </div>
            {% endif %}
            <ul>
            {% for project in projects %}
                <li><a href="{{ path_for('project', {'name': project.projectName }) }}">{{ project.projectName }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <p><a href="{{ path_for('projects') }}">Return to my projects</a></p>
</section>
{% endblock %}

{% block scripts %}
    <script>
        $("#clearSearch").click(function() {
            $("#search").val("");
        });

        $("#search").on("keyup change paste", function() {
            setTimeout(function () { 
                $.ajax({
                    url: "{{ path_for('allProjects') }}",
                    type: "get",
                    data: {
                        "search": $("#search").val()
                    },
                    success: function (result) {
                        $("#projectsList").html(result);
                    }
                });
            }, 100);
        });

        $(document).on("change", "#pageSelect", function() {
            {% if search %}
                var pageURL = "?search={{ search }}&page=" + $("#pageSelect").val();
            {% else %}
                var pageURL = "?page=" + $("#pageSelect").val();
            {% endif %}

            window.location = pageURL;
        });
    </script>
{% endblock %}
