<section id="transferOwnershipSection">
    <h2>Transfer Project Ownership</h2>
    {% if projectMembers|length > 1 %}
        <form id="transferOwnershipForm" action="{{ path_for('confirmTransferOwnership', {'name': project.projectName}) }}" method="post">
            <fieldset>
                <label>Select a project member:</label>
                <ul>
                    {% for projectMember in projectMembers %}
                    {% if projectMember.userID != project.ownerID %}
                    <li>
                        <input type="radio" id="{{ projectMember.username }}" name="newOwner" value="{{ projectMember.username }}" required>
                        <label for="{{ projectMember.username }}">
                            {{ projectMember.username }}
                            {% if projectMember.isAdmin %}
                            (Admin)
                            {% endif %}
                        </label>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </fieldset>

            <div id="submitButtons">
                <button type="submit" name="action" value="transfer">Transfer Ownership</button>
                <button type="submit" name="action" value="cancel" formnovalidate>Cancel</button>
            </div>
        </form> 
    {% else %}
        <p id="noMembersWarning">There are no eligible project members to transfer this project to</p>
    {% endif %}
</section>
