<h3>Logs</h3>
{% if not projectLogs %}
<p>NO LOGS YET</p>
{% else %}
    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Comment</th>
            <th>User</th>
            <th></th>
        </tr>
    {% for projectLog in projectLogs %}
        <tr>
            <td>{{ projectLog.date }}</td>
            <td>
                {{ projectLog.projectHours }} {{ projectLog.projectMins }}
            </td>
            <td>{{ projectLog.comment }}</td>
            <td>{{ projectLog.username }}</td>
            {% if isAdmin or projectLog.canEdit %}
            <td>
                <form action="{{ path_for('editLog', {'name':name, 'logID':projectLog.id}) }}" method="get">
                    <button type="submit">Edit</button>
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% endif %}
