<h3>Members</h3>
<ul>
{% for projectMember in projectMembers %}
    <li>
        {{ projectMember.username }}
        {% if projectMember.userID == projectMember.ownerID %}
        (Project Owner)
        {% elseif projectMember.isAdmin %} 
        (Admin)
        {% endif %}
        {% if isOwner or isAdmin  %}
            {% if projectMember.userID != user.id %}
                {% if isOwner %}
                    <form action="{{ path_for('processToggleAdmin', {'name':project.projectName, 'username': projectMember.username})  }}" method="post">
                        {% if not projectMember.isAdmin %}
                            <button type="submit" name="action" value="promote">Promote</button>
                        {% else %}
                            <button type="submit" name="action" value="demote">Demote</button>
                        {% endif %}
                    </form>
                {% endif %}
                {% if isOwner or (isAdmin and not projectMember.isAdmin) %}
                <form action="{{ path_for('confirmRemoveMember', {'name':project.projectName, 'username': projectMember.username}) }}" method="get">
                    <button type="submit">Remove Member</button>
                </form>
                {% endif %}
            {% endif %}
        {% endif %}
    </li>
{% endfor %}
</ul>

{% if isAdmin %}
    <h4>Users requests to join this project:</h4>
    {%if requests %}
        <ul>
        {% for request in requests %}
            <li>
                <form action="{{ path_for('processMemberRequest', {'name':project.projectName, 'username':request.username}) }}" method="post">
                    {{ request.username }}
                    <button type="submit" name="action" value="accept">Accept</button>
                    <button type="submit" name="action" value="decline">Decline</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no requests at this time</p>
    {% endif %}
{% endif %}
