<section id="transferOwnershipSection">
    <h2>Transfer Project Ownership</h2>
    <form action="{{ path_for('confirmTransferOwnership', {'name': project.projectName}) }}" method="post">

    {% if projectMembers|length > 1 %}
        <ul>
            {% for projectMember in projectMembers %}
            {% if projectMember.userID != project.ownerID %}
            <li>
                <input type="radio" id="{{ projectMember.username }}" name="newOwner" value="{{ projectMember.username }}">
                <label for="{{ projectMember.username }}">
                    {{ projectMember.username }}
                    {% if projectMember.isAdmin %}
                    (Admin)
                    {% endif %}
                </label>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <div id="submitButtons">
            <button type="submit" name="action" value="transfer">Transfer Ownership</button>
            <button type="submit" name="action" value="cancel">Cancel</button>
        </div>
    {% else %}
        <p>There are no project members to trasnfer this project to</p>
    {% endif %}
    </form>
</section>
