<section id="viewProjectMembersSection"> 
<h3>Members</h3>
{% if isAdmin or isOwner %}
<p id="addUser">
    <a href="{{ path_for('addUserToProject', {'name': project.projectName}) }}">+ Add User to Project</a>
</p>
{% endif %}
<ul>
    <li>
        <span class="memberUsername">
        <a href="{{ path_for('userProfile', {'username':project.ownerName}) }}">
        {{ project.ownerName }}
        </a>
        (Project Owner)
        </span>
    </li>
{% for projectMember in projectMembers %}
    {% if projectMember.userID != projectMember.ownerID %}
        <li>
            <span class="memberUsername">
            <a href="{{ path_for('userProfile', {'username':projectMember.username})  }}">
            {{ projectMember.username }}
            </a>
            {% if projectMember.isAdmin %} 
            (Admin)
            {% endif %}
            </span>
            {% if isOwner or isAdmin  %}
                <div class="adminButtons">
                {% if projectMember.userID != user.id %}
                    {% if isOwner %}
                        <form id="toggleAdminForm" action="{{ path_for('processToggleAdmin', {'name':project.projectName, 'username': projectMember.username})  }}" method="post">
                            {% if not projectMember.isAdmin %}
                                <button type="submit" name="action" value="promote">Promote</button>
                            {% else %}
                                <button type="submit" name="action" value="demote">Demote</button>
                            {% endif %}
                        </form>
                    {% endif %}
                    {% if isOwner or (isAdmin and not projectMember.isAdmin) %}
                    <form id="removeMemberForm" action="{{ path_for('confirmRemoveMember', {'name':project.projectName, 'username': projectMember.username}) }}" method="get">
                        <button type="submit">Remove Member</button>
                    </form>
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
</ul>

{% if isAdmin %}
    <h4>Users requests to join this project:</h4>
    {%if requests %}
        <ul>
        {% for request in requests %}
            <li>
                <form action="{{ path_for('processMemberRequest', {'name':project.projectName, 'username':request.username}) }}" method="post">
                    <span class="memberUsername">
                    <a href="{{ path_for('userProfile',{'username':request.username}) }}">
                        {{ request.username }}
                    </a>
                    </span>

                    <div class="adminButtons">
                    <button type="submit" name="action" value="accept">Accept</button>
                    <button type="submit" name="action" value="decline">Decline</button>
                    </div>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no requests at this time</p>
    {% endif %}
{% endif %}
</section>
