{% if page == "addNewLog" %}
<h3>Add New Log Entry</h3>
{% elseif page == "editLog" %}
<h3>Edit Log Entry</h3>
{% endif %}

{% if page == "addNewLog" %}
<form action="{{ path_for("addProjectLog", {'name': project.projectName})  }}" method="post">
{% else %}
<form action="{{ path_for("editLog", {'name': project.projectName, 'logID':projectLog.id}) }}" method="post">
{% endif %}
    <label for="datePicker">Date</label>
    <input type="text" id="datePicker" name="datePicker" placeholder="mm/dd/yyyy"
           value="{% if postData %}{{ postData.datePicker }}{% elseif projectLog %}{{ projectLog.date }}{% else %}{{ "now" | date("m/d/Y") }}{% endif %}"><br>
    <label for="hours">Hours</label>
    <input type="number" id="hours" name="hours" min="0" max="24"{% if postData or projectLog %} value="{% if postData %}{{ postData.hours }}{% else %}{{ projectLog.hours }}{% endif %}"{% endif %}><br>
    <label for="minutes">Minutes</label>
    <input type="number" id="minutes" name="minutes" min="0" max="59"{% if postData or projectLog %} value="{% if postData %}{{postData.minutes }}{% else %}{{ projectLog.minutes }}{% endif %}"{% endif %}><br>
    <label for="comment">Comment</label>
    <input type="text" id="comment" name="comment"{% if postData or projectLog %} value="{% if postData %}{{ postData.comment }}{% else %}{{ projectLog.comment }}{% endif %}"{% endif %}><br>

    <button type="submit" name="action" value="save">Save</button>
    <button type="submit" name="action" value="cancel">Cancel</button>
</form>

{% if page == "editLog" %}
<h3>Delete Log Entry:</h3>
<form action="{{ path_for('deleteLog', {'name': project.projectName, 'logID':projectLog.id}) }}" method="post">
    <button type="submit" name="action" value="delete">Delete</button>
    <button type="submit" name="action" value="cancel">Cancel</button>
</form>
{% endif %}
