<section id="viewLogsSection">
<h3>Logs</h3>

<form id="filterResultsForm" action="{{ path_for('fetchProjectLogs', {'name':project.projectName}) }}" method="get">
    <label for="show">Show:</label> 
    <select id="show" name="show">
        <option value="all"{% if not displayLogsUsername %} selected {% endif %}>All</option>

        <option value="{{ user.username }}"{% if displayLogsUsername == user.username %} selected{% endif %}>
            Me only
        </option>

        {% for projectMember in projectMembers %}
            {% if projectMember.username != user.username %}
                <option value="{{ projectMember.username }}"{% if displayLogsUsername == projectMember.username %} selected{% endif %}>
                    {{ projectMember.username }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <noscript>
        <input type="submit" value="Go">
    </noscript>
</form>

{% if not projectLogs %}
<p>No logs found</p>
{% else %}
{% if pagination.getNumPages() > 1 %}
    {% set url = path_for('fetchProjectLogs', {'name':project.projectName}) %}
    {% if displayLogsUsername %}
        {% set url = url ~ '?show=' ~ displayLogsUsername ~ "&" %}
    {% else %}
        {% set url = url ~ '?' %}
    {% endif %}

    <form id="paginationForm" action="{{ path_for('fetchProjectLogs', {'name':project.projectName}) }}" method="get">
        {% if pagination.hasPrevPage() %}
            <a href="{{ url ~ "page=" ~ (pagination.currentPage - 1) }}">prev</a>
        {% endif %}

        {% if displayLogsUsername %}
        <input type="hidden" name="show" value="{{ displayLogsUsername }}">
        {% endif %}

        <select id="pageSelect" name="page">
        {% for page in 1..pagination.getNumPages() %}
            <option value="{{ page }}"{% if page == pagination.currentPage %} selected{% endif %}>
                {{ page }} of {{ pagination.getNumPages() }}
            </option>
        {% endfor %}
        </select>

        <noscript>
            <input type="submit" value="Go">
        </noscript>

        {% if pagination.hasNextPage() %}
            <a href="{{ url ~ "page=" ~ (pagination.currentPage + 1) }}">next</a> 
        {% endif %}
    </form>
{% endif %}
    <table id="smallResultsTable">
        {% for projectLog in projectLogs %}
        <tr>
            <th>Date:</th>
            <td>{{ projectLog.date }}</td>
        </tr>
        <tr>
            <th>Time:</th>
            <td>{{ projectLog.projectTime }}</td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>{{ projectLog.comment }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td><a href="{{ path_for('userProfile', {'username':projectLog.username}) }}">{{ projectLog.username }}</a></td>
        </tr>
        {% if isAdmin or projectLog.canEdit %}
        <tr>
            <td class="editLogButton" colspan="2">
                <form action="{{ path_for('editLog', {'name':project.projectName, 'logID':projectLog.id}) }}" method="get">
                    <button type="submit">^ Edit ^</button>
                </form>
            </td>
        </tr>
        {% endif %}
        <tr class="emptyRow"><td colspan="2"></td></tr>
        {% endfor %}
    </table>

    <table id="bigResultsTable">
        <tr>
            <th class="date">Date</th>
            <th class="time">Time</th>
            <th class="comment">Comment</th>
            <th class="username">User</th>
            <th class="edit"></th>
        </tr>
    {% for projectLog in projectLogs %}
        <tr>
            <td class="date">{{ projectLog.date }}</td>
            <td class="time">
                {{ projectLog.projectTime }}
            </td>
            <td class="comment">{{ projectLog.comment }}</td>
            <td class="username"><a href="{{ path_for('userProfile', {'username':projectLog.username}) }}">{{ projectLog.username }}</a></td>
            <td class="edit">
            {% if isAdmin or projectLog.canEdit %}
                <form action="{{ path_for('editLog', {'name':project.projectName, 'logID':projectLog.id}) }}" method="get">
                    <button type="submit">Edit</button>
                </form>
            {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</section>
