<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Logger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico">
    <link rel="stylesheet" href="{{ path_for('home') }}stylesheets/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Cuprum:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ path_for('home') }}stylesheets/main.css">
    <link rel="stylesheet" href="{{ path_for('home') }}stylesheets/responsive.css">
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="wrapper">
        <header>
            <nav>
            <h1><a href="{{ path_for('home') }}">Project Logger</a></h1>
            {% if user %}
                <ul>
                    <li><a href="{{ path_for('home') }}">Home</a></li>
                    <li><a href="{{ path_for('projects') }}">Projects</a></li>
                    <li><a href="{{ path_for('account') }}">Account</a></li>
                    <li><a href="{{ path_for('logout') }}">Logout</a></li>
                </ul>
            {% elseif not noMenu %}
                <ul>
                    <li><a href="{{ path_for("login") }}">Login</a></li>
                    <li><a href="{{ path_for("register") }}">Register</a></li>
                </ul>
           {% endif %}
           </nav>
        </header>
        
        {% if user %}
            <p id="greeting">Hello, {{ user.username }}</p>
        {% endif %}

       {% block content %}
       {% endblock %}

    </div>
    <footer>
        <p>&copy;{{ "now"|date("Y") }} Hanley Chan</p>
    </footer>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="{{ path_for('home') ~ "js/dismissMessages.js"  }}"></script>

   {% block scripts %}
   {% endblock %}
</body>
</html>
