{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block content %}
<h2>Update Profile</h2>
{{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}

<form action="{{ path_for('processModifyProfile') }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="MAX_FILE_SIZE" value="{{ maxPhotoSize }}">

    {% if profile.photoName and profile.photoPath %}
        <img src="{{ path_for('home') ~ profile.photoPath ~ '/' ~ profile.photoName  }}" alt="profilePhoto"><br>
    {% endif %}

    <label for="photo">Photo:</label>
    <input type="file" id="photo" name="photo" accept="image/gif, image/jpeg, image/png"><br>
    <label for="removePhoto">Remove Photo</label>
    <input type="checkbox" id="removePhoto" name="removePhoto" value="removePhoto"><br>


    <label for="name">Name:</label><br>
    <input type="text" name="name" id="name" {% if profile.name %} value="{{ profile.name }}"{% endif %}><br>

    <label for="otherInfo">Other Info:</label><br>
    <textarea id="otherInfo" name="otherInfo" maxlength="255">{% if profile.otherInfo %}{{ profile.otherInfo }}{% endif %}</textarea><br>
    
    <button type="submit" name="action" value="save">Save</button>
    <button type="submit" name="action" value="cancel">Cancel</button>

</form>
{% endblock %}
