{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<section id="projectSection">
    <h2>
        Project: {{ project.projectName }}
        {% if projectMember %}<span id="projectActionsHeading"><a href="{{ path_for('projectActions', {'name': project.projectName}) }}">(Project Actions)</a></span>{% endif %}
    </h2>
    {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}

    {% if projectMember %}
        <p id="projectActionsParagraph">
            <a id="projectActionsLink" href="{{ path_for('projectActions', {'name': project.projectName}) }}">Project Actions</a>
        </p>
    {% endif %}

    {% if not projectMember %}
            {% if userHasJoinRequest %}
                <form action="{{ path_for('cancelRequestJoin', {'name': project.projectName}) }}" method="post">
                    <button type="submit">Cancel request to join project</button>
                </form>
            {% else %}
                <form action="{{ path_for('requestJoin', {'name': project.projectName})  }}" method="post">
                    <button type="submit">Request to join this project</button>
                </form>
            {% endif %}
    {% endif %}

    <ul id="projectSummaryList">
        <li>
            <span class="summaryHeading">Owner:</span>
            <span class="summaryContent"><a href="{{ path_for('userProfile', {'username':project.ownerName}) }}">{{ project.ownerName }}</a></span>
        </li>
        <li>
            <span class="summaryHeading">Date Created:</span>
            <span class="summaryContent">{{ project.dateAdded }}</span>
        </li>
        <li>
            <span class="summaryHeading">Total Hours:</span>
            <span class="summaryContent">{{ totalMinutes }}</span>
        </li>
        {% if projectMember %}
        <li>
            <span class="summaryHeading">Total Hours By Me:</span>
            <span class="summaryContent">{{ totalMinutesByMe }}</span>
        </li>
        {% endif %}
    </ul>

    {% if page == "viewLogs" or page == "members" or page == "addNewLog" or
          page == "editLog" or not page %}
        <h3 id="viewHeading">Select View:</h3>
        <ul id="selectViewList">
            <li id="log"><a href="{{ path_for('fetchProjectLogs', {'name': project.projectName}) }}">View Log Entries</a></li>
            <li id="members"><a href="{{ path_for('fetchProjectMembers', {'name': project.projectName}) }}">View Members</a></li>
            {% if projectMember %}
                <li id="newLog"><a href="{{ path_for('fetchAddNewLog', {'name':project.projectName}) }}">Add Log Entry</a></li>
            {% endif %}
    </ul>
    {% endif %}

    <div id="displayContent">
            {% if page == "viewLogs" or not page %}
                {% include "fetchProjectLogs.twig" %}
            {% elseif page == "members" %}
                {% include "fetchProjectMembers.twig" %}
            {% elseif page == "addNewLog" %}
                {% include "fetchAddEditLog.twig" %}
            {% elseif page == "editLog" %}
                {% include "fetchAddEditLog.twig" %}
            {% elseif page == "removeMember" %}
                {% include "fetchConfirmRemoveMember.twig" %}
            {% elseif page == "projectActions" %}
                {% include "fetchProjectActions.twig" %}
            {% elseif page == "leaveProject" %}
                {% include "fetchConfirmLeaveProject.twig" %}
            {% elseif page == "deleteProject" %}
                {% include "fetchConfirmDeleteProject.twig" %}
            {% elseif page == "renameProject" %}
                {% include "fetchRenameProject.twig" %}
            {% elseif page == "transferOwnership" %}
                {% include "fetchTransferOwnership.twig" %}
            {% elseif page == "confirmTransferOwnership" %}
                {% include "fetchConfirmTransferOwnership.twig" %}
            {% endif %}
    </div>
    {% if page == "viewLogs" or page == "members" or page == "addNewLog" or
          page == "removeMember" or not page %}
        <p><a href="{{ path_for('projects') }}">Return to projects</a></p>
    {% elseif page == "projectActions" or page == "editLog" %}
        <p><a href="{{ path_for('project', {'name':project.projectName}) }}">Return to project</a></p>
    {% elseif page == "transferOwnership" or page == "confirmTransferOwnership" or page == "leaveProject" or page == "deleteProject" or page == "renameProject" %}
        <p><a href="{{ path_for('projectActions', {'name':project.projectName}) }}">Return to project actions</a></p>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ path_for('home') ~ "js/dismissMessages.js"  }}"></script>

    {% if page == "addNewLog" or page == "editLog" %}
    <script>
        $(document).ready(function () {
            $("#datePicker").datepicker();
        });

        $("#hours").on("input", function() {
            $("#hoursValue").val($(this).val());
        });

        $("#minutes").on("input", function() {
            $("#minutesValue").val($(this).val());
        });

        $("#hoursValue").on("input", function() {
            if($("#hoursValue").val() != 0) {
                if($("#hoursValue").val() > 24) {
                    $("#hoursValue").val(24)
                }
                $("#hours").val($(this).val());
            } else {
                $("#hours").val(0);
            }
        });
        $("#minutesValue").on("input", function() {
            if($("#minutesValue").val() != 0) {
                if($("#minutesValue").val() > 59) {
                    $("#minutesValue").val(59); 
                }
                $("#minutes").val($(this).val());
            } else {
                $("#minutes").val(0);
            }
        });
    </script>
    {% endif %}

    {% if page == "viewLogs" and pagination.getNumPages() > 1 %}
    <script>
        $("#pageSelect").change(function() {
            {% if displayLogsUsername %}
                var pageURL = "?show={{ displayLogsUsername }}" + "&page=" + $("#pageSelect").val();
            {% else %}
                var pageURL = "?page=" + $("#pageSelect").val();
            {% endif %}

            window.location = pageURL;
        });
    </script>
    {% endif %}

    {% if page == "viewLogs" %}
    <script>
        $("#show").change(function() {
            var pageURL = "?show=" + $("#show").val();

            window.location = pageURL;
        });
    </script>
    {% endif %}
{% endblock %}
