{% extends 'layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<h2>Project: {{ project.projectName }}</h2>
<p><a href="{{ path_for('projectActions', {'name': project.projectName})  }}">Project Actions</a></p>

{% if not projectMember %}
    <form action="{{ path_for('requestJoin', {'name': project.projectName})  }}" method="post">
        <button type="submit">Request to join this project</button>
    </form>
{% endif %}
{% for message in flash.message("fail") %}
    <p>{{ message}}</p>
{% endfor %}
{% for message in flash.message("success") %}
    <p>{{ message}}</p>
{% endfor %}

<ul>
    <li>Owner: {{ project.ownerName }}</li>
    <li>Total Hours:</li>
    {% if projectMember %}
    <li>Total Hours By Me:</li>
    {% endif %}
    
</ul>
<ul>
    <li id="log"><a href="{{ path_for('fetchProjectLogs', {'name': project.projectName}) }}">View Log</a></li>
    <li id="members"><a href="{{ path_for('fetchProjectMembers', {'name': project.projectName}) }}">View Members</a></li>
    {% if projectMember %}
        <li id="newLog"><a href="{{ path_for('fetchAddNewLog', {'name':project.projectName}) }}">Add Log Entry</a></li>
    {% endif %}
</ul>

<div id="displayContent">
        {% if page == "viewLogs" or not page %}
            {% include "fetchProjectLogs.twig" %}
        {% elseif page == "members" %}
            {% include "fetchProjectMembers.twig" %}
        {% elseif page == "addNewLog" %}
            {% include "fetchAddEditLog.twig" %}
        {% elseif page == "editLog" %}
            {% include "fetchAddEditLog.twig" %}
        {% elseif page == "removeMember" %}
            {% include "fetchConfirmRemoveMember.twig" %}
        {% elseif page == "projectActions" %}
            {% include "fetchProjectActions.twig" %}
        {% elseif page == "leaveProject" %}
            {% include "fetchConfirmLeaveProject.twig" %}
        {% elseif page == "deleteProject" %}
            {% include "fetchConfirmDeleteProject.twig" %}
        {% elseif page == "renameProject" %}
            {% include "fetchRenameProject.twig" %}
        {% elseif page == "transferOwnership" %}
            {% include "fetchTransferOwnership.twig" %}
        {% elseif page == "confirmTransferOwnership" %}
            {% include "fetchConfirmTransferOwnership.twig" %}
        {% endif %}
</div>
<p><a href="{{ path_for('projects') }}">Return to projects</a></p>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        {% if page == "addNewLog" or page == "editLog" %}
            $(document).ready(function () {
                $("#datePicker").datepicker();
            });
        {% endif %}
    </script>
<script>
</script>
{% endblock %}
