{% extends 'layout.twig' %}
{% import "macros.twig" as macros %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}

{% block content %}
<section id="projectSection">
    <h2>
        Project: {{ project.projectName }}
        {% if projectMember %}<span id="projectActionsHeading"><a href="{{ path_for('projectActions', {'name': project.projectName}) }}">(Project Actions)</a></span>{% endif %}
    </h2>
    {{ macros.displayFlashMessages(flash.message("fail"), flash.message("success")) }}

    {% if projectMember %}
        <p id="projectActionsParagraph">
            <a id="projectActionsLink" href="{{ path_for('projectActions', {'name': project.projectName}) }}">Project Actions</a>
        </p>
    {% endif %}

    {% if not projectMember %}
            {% if userHasJoinRequest %}
                <form action="{{ path_for('cancelRequestJoin', {'name': project.projectName}) }}" method="post">
                    <button type="submit">Cancel request to join project</button>
                </form>
            {% else %}
                <form action="{{ path_for('requestJoin', {'name': project.projectName})  }}" method="post">
                    <button type="submit">Request to join this project</button>
                </form>
            {% endif %}
    {% elseif isAdmin or project.ownerID == user.id %}
        <p id="addUserToProject"><a href="{{ path_for('addUserToProject', {'name': project.projectName}) }}">+ Add User to Project</a></p>
    {% endif %}

    <ul id="projectSummaryList">
        <li>
            <span class="summaryHeading">Owner:</span>
            <span class="summaryContent"><a href="{{ path_for('userProfile', {'username':project.ownerName}) }}">{{ project.ownerName }}</a></span>
        </li>
        <li>
            <span class="summaryHeading">Date Created:</span>
            <span class="summaryContent">{{ project.dateAdded }}</span>
        </li>
        <li>
            <span class="summaryHeading">Total Hours:</span>
            <span class="summaryContent">{{ totalMinutes }}</span>
        </li>
        {% if projectMember %}
        <li>
            <span class="summaryHeading">Total Hours By Me:</span>
            <span class="summaryContent">{{ totalMinutesByMe }}</span>
        </li>
        {% endif %}
    </ul>

    <div id="viewSelect">
    {% if page == "viewLogs" or page == "members" or page == "addNewLog" or
          page == "editLog" or not page %}
            <h3 id="viewHeading">Select View:</h3>
            <ul id="selectViewList">
                <li id="log"><a href="{{ path_for('fetchProjectLogs', {'name': project.projectName}) }}">View Log Entries</a></li>
                <li id="members"><a href="{{ path_for('fetchProjectMembers', {'name': project.projectName}) }}">View Members</a></li>
                {% if projectMember %}
                    <li id="newLog"><a href="{{ path_for('fetchAddNewLog', {'name':project.projectName}) }}">Add Log Entry</a></li>
                {% endif %}
            </ul>
    {% elseif page == "projectActions" or page == "renameProject" or page == "transferOwnership" or
              page == "deleteProject" or page == "leaveProject" or page == "confirmTransferOwnership" %}
            <h3 id="viewHeading">Project Actions</h3>
            <ul id="selectProjectActionList">
            {%if isOwner or isAdmin %}
                <li><a href="{{ path_for('renameProject', {'name': project.projectName}) }}">Rename Project</a></li>
            {% endif %}

            {% if isOwner %}
                <li><a href="{{ path_for('transferOwnership', {'name': project.projectName}) }}">Transfer Project Ownership</a></li>
                <li><a href="{{ path_for('confirmDeleteProject', {'name':project.projectName}) }}">Delete Project</a></li>
            {% endif %}

            {% if not isOwner %}
                <li><a href="{{ path_for('confirmLeaveProject', {'name':project.projectName, 'username':user.username }) }}">Leave Project</a></li>
            {% endif %}
            </ul>
    {% endif %}
    </div>

    <div id="displayContent">
            {% if page == "viewLogs" or not page %}
                {% include "fetchProjectLogs.twig" %}
            {% elseif page == "members" %}
                {% include "fetchProjectMembers.twig" %}
            {% elseif page == "addNewLog" %}
                {% include "fetchAddEditLog.twig" %}
            {% elseif page == "editLog" %}
                {% include "fetchAddEditLog.twig" %}
            {% elseif page == "removeMember" %}
                {% include "fetchConfirmRemoveMember.twig" %}
            {% elseif page == "leaveProject" %}
                {% include "fetchConfirmLeaveProject.twig" %}
            {% elseif page == "deleteProject" %}
                {% include "fetchConfirmDeleteProject.twig" %}
            {% elseif page == "renameProject" %}
                {% include "fetchRenameProject.twig" %}
            {% elseif page == "transferOwnership" %}
                {% include "fetchTransferOwnership.twig" %}
            {% elseif page == "confirmTransferOwnership" %}
                {% include "fetchConfirmTransferOwnership.twig" %}
            {% elseif page == "addUser" %}
                {% include "fetchAddUserToProject.twig" %}
            {% endif %}
    </div>
    {% if page == "viewLogs" or page == "members" or page == "addNewLog" or
          page == "removeMember" or not page %}
        <p><a href="{{ path_for('projects') }}">Return to projects</a></p>
    {% elseif page == "projectActions" or page == "editLog" or page == "addUser" %}
        <p><a href="{{ path_for('project', {'name':project.projectName}) }}">Return to project</a></p>
    {% elseif page == "transferOwnership" or page == "confirmTransferOwnership" or page == "leaveProject" or page == "deleteProject" or page == "renameProject" %}
        <p><a href="{{ path_for('projectActions', {'name':project.projectName}) }}">Return to project actions</a></p>
    {% endif %}
</section>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{{ path_for('home') ~ "js/dismissMessages.js"  }}"></script>

    {% if page == "addNewLog" or page == "editLog" %}
    <script>
        // Display calendar input
        $(document).ready(function () {
            $("#datePicker").datepicker();
        });

        // Update hours number input when hours slider input is changed
        $("#hours").on("input change", function() {
            $("#hoursValue").val($(this).val());
        });

        // Update minutes number input when minutes slider input is changed
        $("#minutes").on("input change", function() {
            $("#minutesValue").val($(this).val());
        });

        // Update hours slider input when hours number input is changed
        $("#hoursValue").on("input change", function() {
            if($("#hoursValue").val() != 0) {
                if($("#hoursValue").val() > 24) {
                    $("#hoursValue").val(24)
                }
                $("#hours").val($(this).val());
            } else {
                $("#hours").val(0);
            }
        });

        // Update minutes slider input when minutes number input is changed
        $("#minutesValue").on("input change", function() {
            if($("#minutesValue").val() != 0) {
                if($("#minutesValue").val() > 59) {
                    $("#minutesValue").val(59); 
                }
                $("#minutes").val($(this).val());
            } else {
                $("#minutes").val(0);
            }
        });

        var timer;
        var refreshSession;
        var timerOn = false;
        var secondsElapsed = 0; 
        const MAX_SECONDS = 86400; // 24 hrs

        function secondsToHours(totalSeconds) {
            return Math.floor(totalSeconds / 3600);
        }

        function secondsToMinutes(totalSeconds) {
            return Math.floor((totalSeconds % 3600)  / 60);
        }

        function remainingSeconds(totalSeconds) {
            return ((totalSeconds % 3600 ) % 60);
        }
        
        function formatTime(totalSeconds) {
            var hours, minutes, seconds;
            var output = "";

            hours = secondsToHours(totalSeconds);
            minutes = secondsToMinutes(totalSeconds);
            seconds = remainingSeconds(totalSeconds);

            if(hours > 0) {
                output += hours;
                output += (hours > 1) ? " hrs " : " hr ";
            }
            if(minutes > 0) {
                output += minutes;
                output += (minutes > 1) ? " mins " : " min ";
            }
            if(seconds > 0) {
                output += seconds;
                output += (seconds > 1) ? " secs" : " sec";
            }

            return output;
        }

        function startClock() {
            if(timerOn === false && secondsElapsed < MAX_SECONDS) {
                timerOn = true;
                $("#startTimer").addClass("selected");

                timer = setInterval(function() {
                    secondsElapsed++;
                    $("#timeElapsedValue").html(formatTime(secondsElapsed));

                    // Stop timer if timer reaches 24 hours
                    if(secondsElapsed >= MAX_SECONDS) {
                        $("#timeElapsedValue").addClass("maxedTime");
                        stopClock();
                    }
                }, 1000);

                // Refresh session to prevent session timeout (10 minutes)
                refreshSession = setInterval( function() {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        url: "{{ path_for('refreshSession') }}",
                        success: function(data) {
                        }
                    });
                }, 600000);
            }
        }

        function stopClock() {
            if(timerOn === true) {
                timerOn = false;
                $("#startTimer").removeClass("selected");
                clearInterval(timer);
                clearInterval(refreshSession);
            }
        }

        $("#startTimer").click(function() {
            startClock();
        });

        $("#stopTimer").click(function() {
            stopClock();
        });

        $("#resetTimer").click(function() {
            stopClock();
            secondsElapsed = 0;
            $("#timeElapsedValue").html(secondsElapsed);
            $("#timeElapsedValue").removeClass("maxedTime");
        });

        $("#updateTime").click(function () {
            $("#hours").val(secondsToHours(secondsElapsed));
            $("#hours").trigger("change");
            $("#minutes").val(secondsToMinutes(secondsElapsed));
            $("#minutes").trigger("change");
        });
    </script>
    {% endif %}

    {% if page == "viewLogs" and pagination.getNumPages() > 1 %}
    <script>
        $("#pageSelect").change(function() {
            {% if displayLogsUsername %}
                var pageURL = "?show={{ displayLogsUsername }}" + "&page=" + $("#pageSelect").val();
            {% else %}
                var pageURL = "?page=" + $("#pageSelect").val();
            {% endif %}

            window.location = pageURL;
        });
    </script>
    {% endif %}

    {% if page == "viewLogs" %}
    <script>
        $("#show").change(function() {
            var pageURL = "?show=" + $("#show").val();

            window.location = pageURL;
        });
    </script>
    {% endif %}
{% endblock %}
